<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DHCPSharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <DHCPSharp.Properties.Settings>
            <setting name="StartIpAddress" serializeAs="String">
                <value>192.168.189.100</value>
            </setting>
            <setting name="EndIpAddress" serializeAs="String">
                <value>192.168.189.150</value>
            </setting>
            <setting name="GatewayIpAddress" serializeAs="String">
                <value>192.168.189.1</value>
            </setting>
            <setting name="SubnetIpAddress" serializeAs="String">
                <value>255.255.255.0</value>
            </setting>
            <setting name="LeaseTimeSeconds" serializeAs="String">
                <value>86400</value>
            </setting>
            <setting name="BindIpAddress" serializeAs="String">
                <value>192.168.189.4</value>
            </setting>
        </DHCPSharp.Properties.Settings>
    </applicationSettings>
</configuration>